* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    height: 300vh;
    overflow-x: hidden;
}

@font-face {
    font-family: "myFirstFont";
    src: url("./media/VCR_OSD_MONO_1.ttf");
}

@font-face {
    font-family: "courierSTD";
    src: url("./media/Courier\ Std\ Medium.otf");
}


/* intro / videos on scroll */

.intro,
.loop1 {
    height: 100vh;
}

.loop1 video,
.intro video {
    width: 100%;
    overflow: hidden;
    z-index: -2;
}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 25%;
    font-family: "SERIF";
    line-height: .88;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #f4f4f2;
    margin: 2rem 0;
}

.intro img {
    position: absolute;
    top: 75%;
    left: 3.5%;
    overflow: hidden;
    max-width: 85%;
    height: auto;
}

.intro p {
    position: absolute;
    top: 63.5%;
    left: 3.5%;
    font-family: "myFirstFont";
    padding-top: 3em;
    display: block;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    color: #f4f4f2;
}


/* scroll insentive */

#bm {
    position: absolute;
    width: 100px;
    z-index: 2;
    left: 47vw;
    top: 87%;
}


/* Comparison Swipe */

.comparisonImage {
    width: 100%;
    height: 100%;
}

.afterImage-2,
.afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
}

.afterImage img {
    transform: translate(-100%, 0px);
}

.afterImage-2 img {
    transform: translate(-100%, 0px);
}

.comparisonImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

section {
    height: 100vh;
}

footer {
    position: relative;
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    color: var(--clr-acc);
    padding: 20px 0;
    font: 12px/24px VCR_OSD_MONO_1;
    background-color: black;
}

footer p {
    margin-top: 15px;
}

footer span {
    display: block;
    font-size: 12px;
    margin: 0 20px 5px 20px;
    font: VCR_OSD_MONO_1;
    color: #f4f4f2;
}

footer a {
    display: inline-block;
    margin: 0 20px;
    transition: color 1s cubic-bezier(.25, 1, .25, 1);
    text-decoration: none;
    color: #868686;
    font-family: "courierSTD";
}

footer a:hover {
    color: lightgrey;
}