* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    height: 300vh;
    overflow-x: hidden;
}

@font-face {
    font-family: "myFirstFont";
    src: url("./media/VCR_OSD_MONO_1.ttf");
}

@font-face {
    font-family: "courierSTD";
    src: url("./media/Courier\ Std\ Medium.otf");
}

.intro {
    height: 100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -2;
}

.intro h1 {
    position: absolute;
    top: 75%;
    left: 25%;
    font-family: "myFirstFont";
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: salmon;
}


/*
.container_2 {
    height: 100vh;
}

.container_2 img {
    width: 100%;
    position: absolute;
    height: 110vh;
    object-fit: cover;
    z-index: -1;
}



.main-title {
    position: absolute;
    top: 50%;
    left: 70%;
    font-size: 6rem;
    transform: translate(-60%, -30%);
}


 .content {
    width: 100%;
    background: rgb(24, 24, 24);
    min-height: 100vh;
    z-index: 2;
    position: absolute;
}

.content-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60vh;
    text-align: center;
} */

.text {
    padding: 2rem 20rem;
    font-size: 1.1rem;
    color: white;
}

.comparisonSection {
    position: relative;
    padding-bottom: 56.25%;
}

.comparisonImage {
    width: 100%;
    height: 100%;
}

.afterImage-2,
.afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
}

.afterImage img {
    transform: translate(-100%, 0px);
}

.afterImage-2 img {
    transform: translate(-100%, 0px);
}

.comparisonImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}


/* ::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 10px;
} */